*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbox{
    width:100vw;
    height:120px;
    background-color: #0a9cf5;
background-image: linear-gradient(160deg, #0a9cf5 0%, #68a4e8 100%);

    display: flex;
    flex-direction: column;

}
.logo img{
    margin-left: 10px;
    width:70px;
    height: 70px;
}
.logo{
    display:flex;
    align-items: center;
    gap: 350px;
    border: 3px solid black;
}
.logoname{
    margin-top: 5px;
}
.list{
    margin: 6px;
    font-size: 25px;
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.list a{
    text-decoration: none;

}
li a:hover{
    color:#011311;
    text-decoration:underline;
    text-decoration-color: black;
}
.navList{
    padding: 0;
    width:100%;
    height: 50%;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
.footerBox{
    width: 100vw;
    height: 40px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width:100vw;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content h1{
    text-align: center;
    text-shadow:0.5px 0.5px #011311;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.photos{
    width:100%;
    height:300px;
    display: flex;
    justify-content: space-around;
}
.photos img{
    width:290px;
    height: 300px;
    transition: all 0.5s linear ;
    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
img:hover{
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.text{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
